@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tajawal:wght@300&display=swap');

html {
    box-sizing: border-box;
    outline: none;
    background: #ffffff;
    color: black;
    font-family: "Rubik", sans-serif;
}

body {
    width: 100%;
/*     margin: auto;
    font-size: 14px; */
}

.title {
    text-align: center;
    font-weight: 200;
    margin-top: 50px;
}

p {
    font-family: "Rubik", sans-serif;
}

a {
    color: rgb(164, 210, 240)
}

input[type="text"]
{
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
}

#query {
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0 25px;
    border: 1px solid #ccc;
}

#query:focus {
    outline: none;
    border: 1px solid rgb(164, 210, 240);
}

div {
    position: relative;
/*     max-width: 700px;
    margin: auto; */
    box-sizing: border-box;
    overflow:hidden;
}

.wrapper {
    text-align: center;
    min-width: 350px;
max-width: 700px;
    margin: auto;
}

.writeup {
    font-family: "Tajawal", sans-serif;
    background-color: #27252B; 
    padding-left: 10px; 
    padding-right: 10px;
}


#button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 120px;
    opacity: 1;
    background-color: rgb(164, 210, 240);
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#button:hover {
    cursor: pointer;
    background-color: rgb(164, 210, 240);
}

table {
    max-width: 700px;
}

.ingredients {
    min-width: 300px;
}

tr {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.title {
    min-width: 122px;
}

span {
    font-size: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    max-width: 700px;
    padding-top: 110px;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */ /* Fallback color */
    background-color: rgba(34, 33, 33, 0.664); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    color: black;
  }

  .odd {
    background-color: #ccc;
  }

  .even {
    background-color: rgb(217, 221, 223);
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

nav {
 	position: fixed;
 	text-align: center;
 	top: 0;
 	left: 0;
 	width: 100vw;
 	height: 9vh;
	background-color: #065A82;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;
 }
 		
ul {
 	margin: 0;
 	padding: 0;
 }
 li {
 	list-style-type: none;
 	padding-left: 2vw;
 	padding-right: 2vw;
 	font-size: 4vh;
 }
 li:hover {
	background-color: #1C7293;
}
a {
	text-decoration: none;
	font-size: 3vh;
	padding: 2vh 2vh;
	color: #FFFFFF;
	float: left;
}
.floatleft {
	display:flex;
 }
 .floatright {
 	display:flex;
 	flex-direction: row;
 }
 .nav-container {
 	display:flex;
	justify-content: space-between;
	height: 60px; 
	line-height: 30px; 
	text-align: center; 
	vertical-align: middle;
 }
 .abouttext {
 	width: 55vw;
 	margin-left: 2vw;
 	margin-right: 2vw;
 }
 .aboutpicture {
 	vertical-align: middle;
 }
 .aboutcontent {
 	display: flex;
 }
